*{
  
  box-sizing:border-box;

  font-family: Arial, sans-serif;
}

body{
  background: linear-gradient(to right, rgb(184, 89, 89), orange);

  height:100vh;
}

.container{
  width:400px;
  margin:100px auto;
  background:rgb(209, 191, 191);;
  padding:30px;
  text-align:center;
  border-radius:10px;
  box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

h1{
  color:#333;
}

.tagline{
  margin:10px 0 25px;
  color:#666;
}

.btn-box{
  display:flex;
  flex-direction:column;
  gap:15px;
}

.btn{
  text-decoration:none;
  background:#007bff;
  color:white;
  padding:12px;
  border-radius:5px;
  font-size:16px;
}

.btn:hover{
  background:#0056b3;
}

form{
  width: 400px;
  margin:80px auto;
   align-items:center;
  background: rgb(209, 191, 191);
  padding:25px;
  border-radius:8px;
 
}

form h2{
  text-align:center;
  margin-bottom:20px;
}


textarea, select{
  width:100%;
  padding:10px;
  margin:8px 0;
}
input[type="text"] {
  width:100%;
  padding: 10px; /* Width for all text inputs */
}
input[type="email"] {
  width: 100%;
  padding: 10px; /* Width for all text inputs */
}
input[type="qualification"] {
  width: 100%; 
  padding: 10px;/* Width for all text inputs */
}
input[type="password"] {
  width: 100%;
  padding: 10px; /* Width for all text inputs */
}
input[type="text"] {
  width: 100%; 
  padding: 10px;/* Width for all text inputs */
}

input{
  width:10%;
  padding:3px;
  margin:8px 0;}



button{
  width:100%;
  padding:10px;
  background:#28a745;
  color:white;
  border:none;
  border-radius:5px;
  font-size:16px;
}

button:hover{
  background:#218838;
}

footer{
  position:fixed;
  bottom:10px;
  width:100%;
  text-align:center;
  color:white;
}
pre{
  display: inline-block;
}
